SIGNUPS_ALLOWED={{vaultwarden_signups_allows}}
WEBSOCKET_ENABLED={{vaultwarden_websocket_enabled}}
ADMIN_TOKEN='{{vaultwarden_admin_hash}}'
ROCKET_ADDRESS={{vaultwarden_rocket_address}}
ROCKET_PORT={{vaultwarden_rocket_port}}
WEBSOCKET_ADDRESS={{vaultwarden_websocket_address}}
DOMAIN={{vaultwarden_domain}}
SMTP_FROM={{vaultwarden_smtp_from}}
SMTP_HOST={{vaultwarden_smtp_host}}
SMTP_PORT={{vaultwarden_smtp_port}}
SMTP_SECURITY={{vaultwarden_smtp_security}}
SMTP_FROM_NAME="{{vaultwarden_smtp_from_name}}"
SMTP_USERNAME="{{vaultwarden_smtp_username}}"
SMTP_PASSWORD="{{vaultwarden_smtp_password}}"
DATABASE_URL='{{vaultwarden_database_url}}'
